@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Hanken Grotesk', sans-serif;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
}
